@model Likes
@{ 
    Layout = null;
}

<div>
    <span class="likeBtn"> <i class="far fa-thumbs-up"></i> @Model.Yes</span>
    <span class="dislikeBtn"> <i class="far fa-thumbs-down"></i> @Model.No</span>
</div>
