
<h2 class="text-center mt-5">Meet Pong.NET! </h2>
<h4 class="text-center mt-4">A tiny library for creating Single Page Applications with .NET MVC.</h4>


<p class="mt-5">Pong.NET is a library inspired by React, Angular and Vue - yet it's created within ASP.NET MVC pattern.  </p>
<p>It uses JavaScript/jQuery to gather data and alter Views and provides rules for building C# Controller methods</p>
<p>Unlike typical front-end libary (ex. React), Pong.NET doesn't render components only client-side with using JavaScript.
    It uses C# to render tiny pieces of view (technically - partial views), which are appended and managed by JavaScript.
    That's why it's called 'Pong.NET' - to load new components JS and C# methods are fired alternately (ex. JS-C#-JS-C#-JS sequence).
    </p>    

<p>High granularity and high independence of dynamically rendered components is not natural for MVC web development, yet it is possible to achieve.
    Aiming for very high granularity can be detrimental for performance. Pong.NET provides methods allowing different levels of granularity and lets
    you balance between MVC-like high performance and high granularity.
    </p>

<p>In conclusion - adapting MVC to SPA can result in great user experience if used with moderation in terms of components' level of granularity.</p>